.gitignore
node_modules/
.env
.env.*
dist/
# keep built backend/dist in repo for production deployments (remove this line to ignore)
# backend/dist/
.DS_Store
/.idea
/.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
/.parcel-cache
/.cache
coverage/
logs/
*.log
build/
/.serverless
